<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
	<meta charset="UTF-8"/>
	<title>Password cambiata</title>
</head>
<body style="font-family: sans-serif; color: #222;">
	<h1 style="color: #6a2fb0;">Ciao <span th:text="${nome}">nome</span>,</h1>
	<p>La password del tuo account NoseY e' stata cambiata.</p>
	<p>Se sei stato tu, non devi fare nulla. Se non riconosci questa modifica, contatta subito
	   l'assistenza: qualcuno potrebbe aver avuto accesso al tuo account.</p>
</body>
</html>
